<app-header></app-header>
<main>
  <ul id="users">
    <!-- <li>
        <app-user />
    </li> -->

    @for (user of users;track user.id){
      <li>
        <app-user [user]="user" [selected]="user.id ===selectedUserId" (select)="onSelectUser($event)" />

      </li>
    }
    <!-- <li> -->
      <!-- <app-user
        [id]="users[0].id"
        [avatar]="users[0].avatar"
        [name]="users[0].name"
        (select)="onSelectUser($event)"
      /> -->

      <!-- <app-user [user]="users[0]" (select)="onSelectUser($event)" />
    </li>
    <li> -->
      <!-- <app-user
        [id]="users[1].id"
        [avatar]="users[1].avatar"
        [name]="users[1].name"
        (select)="onSelectUser($event)"
      /> -->
      <!-- <app-user [user]="users[1]" (select)="onSelectUser($event)" />
    </li> -->
    <!-- <li> -->
      <!-- <app-user
        [id]="users[2].id"
        [avatar]="users[2].avatar"
        [name]="users[2].name"
        (select)="onSelectUser($event)"
      /> -->
      <!-- <app-user [user]="users[2]" (select)="onSelectUser($event)" />
    </li>
    <li> -->
      <!-- <app-user
        [id]="users[3].id"
        [avatar]="users[3].avatar"
        [name]="users[3].name"
        (select)="onSelectUser($event)"
      /> -->

      <!-- <app-user [user]="users[3]" (select)="onSelectUser($event)" />
    </li> -->
  </ul>

  <!-- <app-tasks [name]="selectedUser?.name"></app-tasks> -->

  @if(selectedUser){
    <app-tasks [id]="selectedUser.id"  [name]="selectedUser.name" />

  }@else {
    <p id="fallback"> Select a User to see their tasks🤔</p>
  }
</main>


<!-- <main>
    <ul id="user">
        <li>
            <app-user />
        </li>
    </ul>
</main> -->








